@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

.about {
  background-color: #0a2850;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.about__title {
  max-width: 251px;
  margin: 100px 0 0 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
}

.about__content {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  margin: 119px 80px 173px 0;
  gap: 20px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.about__paragraph {
  display: block;
  margin: 0;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  left: -129px;
  top: -152px;
  position: absolute;
  z-index: 0;
}
