.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  margin: 100px 0 24px 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Time New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0 0 80px 80px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 215px;
  flex-wrap: wrap;
}

.recipes__iframe {
  display: block;
  border: none;
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}
